<form action="user/create" method="POST">
    <input type="hidden" name="authenticity_token" value"<%= form_authenticity_token %>" >
    <input type = "text" name = "user_name", placeholde = "회원 이름">
    <input type = "password" name = "password", placeholde = "비밀번호">
    <input type = "submit" value = "등록하기">
    
    
</form>